{% extends 'EatBook/base.html' %}
{% block content %}

  <div id="search">
    <div id="search_container">
      <!-- <i id="search_icon" class="fas fa-search"></i> -->
      <form action="" method="get">
        <input id="search_contents" name="query" type="search" placeholder="당신이 지금 읽고있는 책은 무엇인가요?" />
        <input type="submit" value="검색">
      </form>
    </div>
  </div>

  <span class="center_text">
    <h3> 당신의 모든 독서 기록 </h3>
  </span>

  <div id="center_menu">
    <ul>
      <li>Now</li>
      <li>Calendar</li>
      <li>Library</li>
      <li>WishList</li>
    </ul>
    <div id="menu_image">

    </div>
  </div>

{% endblock %}
